.popup {
  display: none;
  margin: 0 auto;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 880px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .popup {
    width: 85.94%;
  }
}

@media screen and (max-width: 846px) {
  .popup {
    width: 727px;
  }
}

@media screen and (max-width: 768px) {
  .popup {
    width: calc(100% - 19 * 2px);
  }
}

.popup_opened {
  display: flex;
}
