.popup__container {
  position: relative;
  width: 430px;
  background: #ffffff;
  border-radius: 10px;
  margin: 0 auto;
  padding: 0;
  box-shadow: initial;
}

@media screen and (max-width: 622px) {
  .popup__container {
    width: 282px;
  }
}
