.profile-info {
  max-width: 336px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

@media screen and (max-width: 622px) {
  .profile-info {
    margin-top: 25px;
    display: block;
    position: relative;
    max-width: 100%;
  }
}